.nav-item {
    font-family: 'Nanum Pen Script', cursive;
    /* font-family: 'Do Hyeon', sans-serif; */
}
.navbar-brand{
    font-family: 'Nanum Pen Script', cursive;
    color:white;
    
}
footer{
    height : 50px;
    background-color : black;
    color:white;
}
footer > span {
    font-family: 'Do Hyeon', sans-serif;
}

.divider {
    background-color : white;
    width : 70px;
}
.container {
    font-family: 'Do Hyeon', sans-serif;
    color : white;
}

.modal-content {
    color : white;
    /* height: 100%; */
}
.modal-dialog {
    margin-top : 10%;
}
